body {
  font-family: Helvetica;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.hero {
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.jpg');
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 70px;
}

.btn-nav {
  font-size: 18px;
  color: white;
}

h6{
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}



h2, h3{
  font-weight: bold;
  text-align: center;
}

h5 {
  text-align: center;
  font-weight: normal;
}

h7 {
  color: white;
  text-size: 11px;
  background-color: dimgray;
  text-align: center;
}
img{
  margin: 0 auto;
  display: block;
}

.end a{
  font-size: 18px;
  color: white;
  background-color; dimgray;
}

.btn-nav {
  font-size: 18px;
  color: white;
}
