body {
  font-family: Helvetica;
}

h1, h2, h4 {
  color: White;
  text-align: center;
}

h2, h3{
  font-weight: bold;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h1, h4 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png")
}

h4 {
  font-size: 18px;
}
