body {
  font-family: Helvetica;


}

h1, h4, h6 {
  color: White;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

h1, h4, h6 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png")
  text-align: center;
}

h4 {
  font-size: 18px;
  text-align: center;
}

h6 {
  font-weight: bold;
  font-size: 23px;
  text-align: center;
}

h2, h3{
  font-weight: bold;
  text-align: center;
}

h5 {
  text-align: center;
}

h7 {
  color: white;
  text-size: 11px;
  background-color: dimgray;
}
img{
  margin: 0 auto;
  display: block;
}
