body {
  font-family: Helvetica;
  text-align: center;
}

h1, h4, h6 {
  color: White;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h1, h4, h6 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png")
}

h4 {
  font-size: 18px;
}
h6 {
  font-weight: bold;
  font-size: 23px;
}

h2, h3{
  font-weight: bold;
}

h5 {

}

img{
  margin: 0 auto;
  display: block;
}
