body {
  font-size: Helvetica;
  color: White;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h1, h4 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png")
}
